body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.disableClick{
  pointer-events : none;
  color: #c1c1c1;
}
.noneEditableGrid .form-control, .noneEditableGrid .grid--calender--field{
  background-color: transparent; 
  border:none;
  pointer-events: none;
}
.editableGrid .form-control, .editableGrid .grid--calender--field{
  background-color:"transparent"; 
  border:"none";
}

.displayBlock{
  display:inline-block;
}

.displayNone{
  display: none;
}


/*-- CSS Styles --*/
body {
  background: #eeeeee;
}

.app-header--cont{
  border-bottom: solid 1px #C7C7C7;
}

.app--footer--container{
  border-bottom: solid 1px #C7C7C7;
}

.app-grid--container{
  background: #fff;
}

.grid-headers--container{
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000;
}

.grid--row--container{
  border-bottom: 1px solid #C7C7C7;
}
.grid--row--container:hover {
  background-color: #f5fafe;
}

.grid--calender--field{
  border: 1px solid #C7C7C7;
}

#search--filter {
  border: 1px solid #C7C7C7;
}

.navbar .search.form-control {
  background-color: #535353;
  color: #000;
}

.navbar .form-control::placeholder {
  color: #000000;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.bg-black {
  background-color: #000000;
}

.navbar-nav {
  border-left: 1px solid #777777;
  margin-left: 20px;
}

.sidebar-sticky {
  background: rgba(0, 0, 0, .6)
}

.sidebar .nav-link {
  color: #333;
}

.sidebar .nav-link .feather {
  color: #999;
}
.sidebar .nav-link:hover {
  color: #007bff;
  background-color: #000000;
}

.sidebar .nav-link.active {
  color: #007bff;
  background-color: #000000;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.pagination{
  border-top: 1px solid #000000;
}

#prev, #next {
  color:#43a1ff;
}

#prev.disableClick, #next.disableClick {
  color: #e7e7e7;
}